*{
   box-sizing: border-box;
   font-family: "Oswald", sans-serif;
}

body{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh; 
    background-size: cover;
    background-position: center;

}

.logo {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 45px;
}

.logo img {
    width: 100px;
    border-radius: 15%;
    margin: 20px;
}

.container{
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: black;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(60px);
}

.container h1{
    font-size: 36px;
    text-align: center;
}

.imput-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px;

}

.imput-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    outline: none;
    font-size: 32px;
    color: white;
    padding: 20px 45px 20px 20px;

}

.imput-box input :placeholder{
    color: white;
}

.imput-box input i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin: -15px 0px 15px;
}

.remember-forgot label input{
    accent-color: white;
    margin-right: 5px;

}

.remember-forgot a{
    text-decoration: none;
    color: white;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login {
    width: 100%;
    height: 50px;
    background-color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: gray;
    font-weight: 600;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
    margin-top: 20px;
}

.login :hover {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: white;

}

.register-link {
    text-decoration: none;
    color: white;
    font-weight: 600;

}

.register-link a:hover {
    text-decoration: underline;
}
